<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form autocomplete="off" novalidate #formLogin="ngForm" (ngSubmit)="login(formLogin.value)">
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf="formLogin.controls.userName?.invalid 
        && formLogin.controls.userName?.touched || mouseoverlogin">
        Required
      </em>
      <input (ngModel)="userName" name="userName" id="userName" type="text" required class="form-control" placeholder="User Name..." />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="formLogin.controls.password?.invalid 
        && formLogin.controls.password?.touched || mouseoverlogin">
        Required
      </em>
      <input (ngModel)="password" name="password" id="password" type="password" required class="form-control"placeholder="Password..." />
    </div>
    <span (mouseenter)="mouseoverlogin=true" (mouseleave)="mouseoverlogin=false">
      <button type="submit" [disabled]="formLogin.invalid" class="btn btn-primary">Login</button>
    </span>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>
